body {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(0, 0, 0, 0.799);
  color: white;
  padding: 1rem;
  text-align: center;
}

header h1 {
  padding: 0;
  margin: 0;
}

.product-1 p {
  margin-bottom: 5px;
}

.product-1 h3 {
  margin-top: 5px;
}

div img {
  height: auto;
  width: 100%;
}

#add-to-cart {
  background-color: rgb(36, 177, 36);
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 3px;
  margin-bottom: 20px;
  cursor: pointer;
}

#add-to-cart:hover {
  background-color: green;
}

.product-1 {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
}

footer {
  background-color: rgba(0, 0, 0, 0.799);
  color: white;
  padding: 1rem;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  gap: 30px;
}

.maincontainer {
  margin: 1rem auto;
  max-width: 1000px;
  padding: 1rem;
}


